@keyframes slide-in {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.back-top.slide-in {
    opacity: 1;
    animation: slide-in 0.3s ease-in-out;
}
  
@keyframes slide-out {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(100%); opacity: 0; }
}

.back-top.slide-out {
    opacity: 0;
    animation: slide-out 0.3s ease-in-out;
}