:root 
{
    --primary-background-color: #0c0c0c;
    --secondary-background-color: #081e41;
    --third-background-color: #1d1d1d;

    --primary-text-color: #F7F7F7;
    --secondary-text-color: #41ce6d;
    --third-text-color: #5865F2;
}