@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(../CSS/Components/pallette.css);

@font-face {
    font-family: 'Panton';
    src: url(./Fonts/Panton.ttf);
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    color: var(--primary-text-color);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.n-decoration {
    color: white;
    text-decoration: none;
    font-family: 'Panton';
    margin: 0px 10px;
}

.btn {
    color: var(--primary-text-color);
    outline: none;
    padding: 20px 30px;
    text-decoration: none;
    margin: 20px;
    font-family: 'Panton';
    text-transform: uppercase;
    text-shadow: 0px 0px 6px black;
    border-radius: 5px;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(10%);
}

.btn-success {
    display: inline-block;
    color: white;
    background-color: #41ce6d;
    border: 2px solid #3B995B;
    box-shadow: 0px 4px 0px #3B995B;
}

.btn-primary {
    display: inline-block;
    color: white;
    background-color: #5865F2;
    border: 2px solid #2F3C97;
    box-shadow: 0px 4px 0px #2F3C97;
}

.btn-image-secondary {
    color: white;
    background-color: #6c757d;
    border: 2px solid #555657;
    box-shadow: 0px 4px 0px #555657;
    padding: 15px 20px;
}

.btn-image-primary {
    color: white;
    background-color: #5865F2;
    border: 2px solid #2F3C97;
    box-shadow: 0px 4px 0px #2F3C97;
    padding: 15px 20px;
}

.btn:hover {
    transform: translateY(20%);
}

.card-beginner {
    box-shadow: 0px 3px 0px #03fc52;
    border: 3px solid #03fc52;
}

.card-intermediary {
    box-shadow: 0px 3px 0px #3041f5;
    border: 3px solid #3041f5;
}

.page-width {
    margin: 0 auto;
    max-width: 1300px;
}