@import url(../default.css);
@import url(../Components/pallette.css);

.nav {
    padding: 7px;
    text-align: center;
    background-color: #5865f2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav span {
    color: #ffffff;
    font-size: .875rem;
}

.header {
    color: var(--primary-text-color);
    padding: 7em 2em;
    text-align: center;
    background-image: url(../../Images/banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Panton', sans-serif;
    text-shadow: 0px 7px 0px #111;
}

.header span {
    font-size: 24px;
    text-shadow: 0px 0px 10px black;
    font-weight: 600;
}

.hm {
    display: none;
}

.beginner, .expert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    color: var(--primary-text-color);
    padding: 3em 2em;
    background-color: var(--primary-background-color);
}  

.topics-header h1 {
    font-size: 100px;
    font-family: 'Panton';
    text-transform: uppercase;
    text-shadow: 0px 5px 0px #646464;
}

.topics-header p {
    font-size: 18px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
}

.card-item {
    min-width: 400px;
    max-width: 400px;
    margin: 2em 1em;
    background-color: #2B2B2B;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    max-height: fit-content;
}

.card-item:hover img {
    transform: scale(1.1);
}

.card-item:hover {
    cursor: pointer;
}

.card-item:hover a {
    transform: translateY(10%);
}

.card-item img {
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #888;
    transition: transform 0.3s ease-in-out;
}

.card-item a {
    transition: transform 0.3s ease-in-out;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-body span {
    margin: 5px 0px;
}

.card-body h2::after {
    content: '';
    margin: 3px auto;
    width: 70%;
    height: 2px;
    background-color: #555;
    display: block;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 5em;
    text-align: center;
    background-color: var(--secondary-background-color);
}

.github-box {
    border: 2px solid #fff;
    color: var(--primary-text-color);
    padding: 3em 5em;
    border-radius: 5px;
    background-image: url(../../Images/banner2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.github-box h1 {
    font-size: 70px;
    text-shadow: 0px 3px 0px #777;
    text-transform: uppercase;
    font-family: 'Panton', sans-serif;
}

.github-box span {
    font-family: 'Panton', sans-serif;
    color: #f10f48;
    text-shadow: 0px 3px 0px #790623;
}

.mini-popup {
    position: fixed;
    z-index: 20;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.back-top {
    opacity: 0;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 0px #999;
    border: 2px solid #999;
    display: none;
}

.lang-menu {
    opacity: 1;
    bottom: 20px;
    right: 20px;
    background-color: #ffff00;
    box-shadow: 0px 5px 0px #969604;
    border: 2px solid #969604;
}

.mini-popup img {
    width: 40px;
    height: 40px;
}

.footer {
    padding: 40px;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

.footer span {
    color: #f10f48;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
    .nav {
        position: relative;
    }

    .beginner, .expert, .github {
        padding: 20px;
    }

    .header {
        padding: 40px 20px;
    }

    .header h1 {
        font-size: 45px;
        text-shadow: 0px 3px 0px #000;
    }

    .header span {
        font-size: 14px;
    }

    .hm {
        display: block;
    }

    .hd {
        display: none;
    }

    .topics-header h1, .expert h1 {
        font-size: 45px;
        text-shadow: 0px 2px 0px #777;
    }
    
    .topics-header p {
        font-size: 12px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-item {
        min-width: fit-content;
        background-color: #2B2B2B;
        border-radius: 5px;
        margin: 20px 0px;
    }

    .github-box {
        padding: 20px;
    }

    .github-box h1 {
        font-size: 40px;
        text-shadow: 0px 2px 0px #999;
    }

    .github-box a {
        max-height: 70px;
        font-size: 14px;
    }

    @media screen and (min-width: 375px) {
        .header h1 {
            font-size: 55px;
            text-shadow: 0px 3px 0px #000;
        }

        .topics-header h1, .expert h1 {
            font-size: 50px;
            text-shadow: 0px 2px 0px #777;
        }

        .beginner, .expert {
            padding: 20px 40px;
        }

        .github {
            padding: 20px;
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
      
    .card-item {
        min-width: 300px;
        max-width: 300px;
        margin: 2em 1em;
        background-color: #2B2B2B;
        border-radius: 5px;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        height: fit-content;
        min-height: 450px;
    }
    
    .github-box h1 {
        font-size: 60px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .card-item {
        min-width: 300px;
        max-width: 300px;
        margin: 2em 1em;
        background-color: #2B2B2B;
        border-radius: 5px;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        height: fit-content;
        min-height: 450px;
    }

    .card-item img {
        width: 100%;
        height: 50%;
    }

    .github-box h1 {
        font-size: 60px;
    }
}