@import url(../default.css);
@import url(../Components/pallette.css);

/*--- Page alert ---*/

.nav {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #5865f2;
}

.nav span {
    color: #ffffff;
    font-size: 1rem;
}

/*--- Page header ---*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10vh;

    color: var(--primary-text-color);
    text-align: center;
    background-image: url(../../Images/banner.webp);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Panton', sans-serif;
    text-shadow: 0px 7px 0px #383838;
}

.header span {
    font-size: 24px;
    text-shadow: 0px 0px 10px black;
    font-weight: 600;
}

.hm {
    display: none;
}

/*--- Page Features ---*/

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 70px;
    background-color: var(--primary-background-color);
}

.feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.feature-content-reverse {
    flex-direction: row-reverse;
}

.feature-img img {
    width: 500px;
    max-width: 500px;
    border: 2px solid white;
    box-shadow: 0px 5px 0px;
    border-radius: 5px;
}

.feature-text {
    margin: 60px;
}

.feature-text-reverse {
    margin: 0px 90px 0px 0px;
}

.feature-text h1 {
    font-size: 70px;
}

.fc-1 h1 {
    color: #26eb64;
}

.fc-1 h1::after {
    background-color: #23c057;
}

.fc-2 h1 {
    color: #417af5;
}

.fc-2 h1::after {
    background-color: #417af5;
}

.fc-3 h1 {
    color: #edf053;
}

.fc-3 h1::after {
    background-color: #c5c74a;
}

.feature-text p {
    margin: 20px 0px;
    font-size: 20px;
}

.feature-text h1::after {
    content: '';
    display: block;
    width: 30%;
    height: 4px;
    margin: 0;
}

/*--- Page Github ---*/

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;
    background-color: var(--secondary-background-color);
}

.github-box {
    border: 2px solid #fff;
    color: var(--primary-text-color);
    padding: 3em 9em;
    border-radius: 5px;
    background-image: url(../../Images/banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.github-box h1 {
    font-size: 70px;
    text-shadow: 0px 3px 0px #777;
}

.github-box span {
    color: #f10f48;
    text-shadow: 0px 3px 0px #790623;
}

/*--- Page Topics ---*/

.topics {
    padding: 40px;
    text-align: center;
    background-color: var(--primary-background-color);
}

.topics-title {
    margin-bottom: 30px;
}

.topics-title h1 {
    font-size: 120px;
    text-shadow: 0px 5px 0px #555;
}

.topics-title span {
    font-size: 22px;
    font-weight: 700;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.card-item {
    min-width: 350px;
    max-width: 400px;
    margin: 2em 1em;
    background-color: #2B2B2B;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card-item:hover img {
    transform: scale(1.1);
}

.card-item:hover {
    cursor: pointer;
}

.card-item:hover a {
    transform: translateY(10%);
}

.card-item img {
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #888;
    transition: transform 0.3s ease-in-out;
}

.card-body {
    flex-direction: column;
    padding: 20px;
    height: fit-content;
}

.card-body h2 {
    font-size: 24px;
}

.card-body span {
    margin: 5px 0px;
    font-size: 16px;
}

.card-body h2::after {
    content: '';
    margin: 3px auto;
    width: 70%;
    height: 2px;
    background-color: #555;
    display: block;
}

.footer {
    padding: 40px 0px;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--third-background-color);
}

.footer span {
    color: #f10f48;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
    .header {
        padding: 5vh;
    }

    .features {
        padding: 40px;
    }

    .feature-img img {
        width: 400px;
    }

    .feature-text h1 {
        font-size: 60px;
    }

    .github-box {
        padding: 30px 50px;
    }

    .github-box h1 {
        font-size: 60px;
    }

    .topics-title h1 {
        font-size: 90px;
    }


    @media screen and (min-width: 768px) and (max-width: 1223px) {
        .feature-img img {
            width: 21.875rem;
        }
    
        .feature-text h1 {
            font-size: 2.7778rem;
        }
    
        .feature-text p {
            font-size: 0.875rem;
        }
    
        .feature-text {
            margin: 1.3889rem;
        }
    
        .feature-text-reverse {
            margin: 0 2.7778rem 0 0;
        }
    
        .cards {
            display: flex;
            flex-wrap: wrap;
        }
    
        .card-item {
            min-width: 20.8333rem;
            max-width: 20.8333rem;
            margin: 2em 1em;
            height: fit-content;
            min-height: 22.2222rem;
        }
    
        .topics {
            padding: 0.625rem;
        }
    }
}
    

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        padding: 30px 10px;
    }

    .header h1 {
        font-size: 50px;
        text-shadow: 0px 3px 0px #555;
    }

    .header span {
        font-size: 14px;
    }

    .header-buttons {
        display: none;
    }

    .features, .github-box, .topics {
        padding: 20px;
    }

    .feature-content {
        margin: 10px 0px;
        text-align: center;
        flex-direction: column;
    }

    .feature-content img {
        width: 90%;
        height: auto;
    }

    .feature-content h1 {
        margin: 20px 0px;
        font-size: 40px;
    }

    .feature-content p {
        font-size: 14px;
    }

    .feature-content h1::after {
        margin: 0 auto;
        width: 30%;
    }

    .feature-text {
        margin: 0;
    }

    .github-box h1 {
        font-size: 40px;
        text-shadow: 0px 2px 0px #999;
    }

    .github-box a {
        max-height: 70px;
        font-size: 14px;
        max-width: 200px;
    }

    .topics-title {
        margin: 0;
    }

    .topics-title h1 {
        font-size: 60px;
        text-shadow: 0px 3px 0px #707070;
    }

    .topics-title span {
        font-size: 14px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-item {
        min-width: fit-content;
        background-color: #2B2B2B;
        border-radius: 5px;
        margin: 20px 0px;
    }
    
    @media screen and (min-width: 375px) {
        .github-box h1 {
            font-size: 35px;
            text-shadow: 0px 2px 0px #999;
        }

        .header h1 {
            font-size: 60px;
        }

        .topics {
            padding: 30px;
        }

        .topics-title span {
            font-size: 16px;
        }        
    }

    @media screen and (min-width: 425px) {
        .github-box h1 {
            font-size: 45px;
        }
    }
}